$iron-range-red: #C51230;
$minnesota-wheat: #EEE3C7;

p{
  color: $iron-range-red;
}

.about, .portfolio, .contact{
  background-color: $minnesota-wheat;
  height: 800px;
  position: relative;
}
.navBar{
  position:fixed;
  z-index:1;
}
.content{
  position: absolute;
  z-index: 0;
  margin-top: 100px;
}
