$teal-blue: #30708B;
$ash-grey: #B1BBBA;
$platinum: #E5ECE1;
$camo-green: #76986C;
$cadet-blue: #689DB0;
$nav-sizing: 50px;
$amatic-sc: 'Amatic SC', cursive;
$open-sans: 'Open Sans Condensed', sans-serif;

//media sizes
$desktop: "(min-width: 1025px)";
$tablet-landscape: "(min-width: 769px) and (max-width: 1024px)";
$tablet-portrait: "(min-width: 668px) and (max-width: 768px)";
$iphone-landscape: "(min-width: 376px) and (max-width: 667px)";
$iphone-portrait: "(max-width: 375px)";
////////////////////////////////////// all sizes\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
body{
  overflow-x: hidden;
}
html, body{
  margin: 0;
  height: 100%;
  font-weight: 100;
  font-family: $open-sans;
}

h1{
  font-family: $amatic-sc;
  font-size: 48px;
}

::-webkit-scrollbar{
  display: none;
}
///////////////////////////////////////// iphone landscape styles \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@media #{$iphone-landscape}{
  body{
    padding-top: 323px;
    width: 100%;
  }

  html, body{
    font-size: 18px;
  }
  section{
    width: 100%;
    position: relative;
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $platinum;
  }
  .nav{
    width: 100%;
    position: relative;
    height:$nav-sizing;
    background-color: $platinum;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    margin-bottom: -$nav-sizing;
    font-family: $amatic-sc;
    padding-top: 5px;
  }

  .nav-scrolled{
    position: fixed;
    top: 0px;
  }
  .bold{
    font-weight:bold;
    font-size: 16px;
  }
  #nav-links{
    text-align: right;
  }

  #nav-links a{
    margin-left: 1.5rem;
    font-size: 24px;
    color: $teal-blue;
    text-decoration: none;
    line-height: 50px;
  }
  #nav-links:last-child{
    margin-right: 2rem;
  }
  #nav-links:first-child{
    margin-left: 0;
  }

  #nav-logo{
    margin-left: 2rem;
    margin-top: 7px;
    clear: none;
    float:left;
    width:36px;
  }

  #welcomeSection{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -20px;
    left: 0;
    // background: linear-gradient(to bottom, $teal-blue, $cadet-blue);
    background-image: url("../images/background/waterfall.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  #welcomeSection h1{
    margin-top: 65px;
    font-size: 50px;
  }

  #welcomeSection img{
    margin-top: -50px;
    width: 75px;
    height: 75px;
  }
  #aboutSection{
    height: 600px;
    background-color: $cadet-blue;
  }
  #aboutSection h1{
    text-align: center;
    clear: both;
  }
  #aboutSection p{
    padding: 0 2rem;
  }

  #about-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid $platinum;
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .workImage{
    padding: 5px 5px 5px 5px;
    height: 250px;
    width: 250px;
  }
  #workSection{
    height: auto;
    background-color:$camo-green;
    padding-bottom: 20px;
  }

  #workSection h1{
    margin-top: -40px;
  }
  #contactSection{
    background-color: $cadet-blue;
    margin-top: -40px;
    height: auto;
    padding-bottom: 35px;
  }

  #contact-button{
    border: none;
    background-color: $platinum;
    color:$teal-blue;
    border-radius: 15px;
    font-size: 18px;
    font-family: $open-sans;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #footer{
    margin-top: -0.8rem;
    height: auto;
    background-color: $camo-green;
    font-size: 14px;

  }
  #footer-content{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
    line-height: 75%;
  }
}
/////////////////////////////////////////iphone portrait styles \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media #{$iphone-portrait}{
  body{
    padding-top: 227px;
    width: 100%;
  }

  html, body{
    font-size: 18px;
  }
  section{
    width: 100%;
    position: relative;
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $platinum;
  }
  .nav{
    width: 385px;
    position: relative;
    height:$nav-sizing;
    background-color: $platinum;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    margin-bottom: -$nav-sizing;
    font-family: $amatic-sc;
  }

  .nav-scrolled{
    position: fixed;
    top: 0px;
  }
  .bold{
    font-weight:bold;
    font-size: 16px;
  }
  #nav-links{
    text-align: right;
  }

  #nav-links a{
    margin-left: 1.5rem;
    font-size: 24px;
    color: $teal-blue;
    text-decoration: none;
    line-height: 50px;
  }
  #nav-links:last-child{
    margin-right: 2rem;
  }
  #nav-links:first-child{
    margin-left: 0;
  }

  #nav-logo{
    margin-left: 2rem;
    margin-top: 7px;
    clear: none;
    float:left;
    width:36px;
  }

  #welcomeSection{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // background: linear-gradient(to bottom, $teal-blue, $cadet-blue);
    background-image: url("../images/background/waterfall.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  #welcomeSection h1{
    margin-top: 35px;
    font-size: 48px;
  }

  #welcomeSection img{
    display: none;
  }
  #aboutSection{
    height: 600px;
    background-color: $cadet-blue;
  }
  #aboutSection h1{
    text-align: center;
    clear: both;
  }
  #aboutSection p{
    padding: 0 2rem;
  }

  #about-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid $platinum;
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .workImage{
    padding: 5px 5px 5px 5px;
    height: 250px;
    width: 250px;
  }
  #workSection{
    height: auto;
    background-color:$camo-green;
    padding-bottom: 20px;
  }

  #workSection h1{
    margin-top: -40px;
  }
  #contactSection{
    background-color: $cadet-blue;
    margin-top: -40px;
    height: auto;
    padding-bottom: 35px;
  }

  #contact-button{
    border: none;
    background-color: $platinum;
    color:$teal-blue;
    border-radius: 15px;
    font-size: 18px;
    font-family: $open-sans;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #footer{
    margin-top: -0.8rem;
    height: auto;
    background-color: $camo-green;
    font-size: 14px;

  }
  #footer-content{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
    line-height: 75%;
  }
}
//////////////////////////////////////////table portrait styles \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media #{$tablet-portrait}{
  body{
    padding-top: 590px;
    width: 100%;
  }

  html, body{
    font-size: 18px;
  }
  section{
    width: 100%;
    position: relative;
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $platinum;
  }
  .nav{
    width: 770px;
    position: relative;
    height:$nav-sizing;
    background-color: $platinum;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    margin-bottom: -$nav-sizing;
    font-family: $amatic-sc;
    padding-top: 10px;
  }

  .nav-scrolled{
    position: fixed;
    top: 0;
  }
  .bold{
    font-weight:bold;
    font-size: 16px;
  }
  #nav-links{
    text-align: right;
  }

  #nav-links a{
    margin-left: 1.5rem;
    font-size: 24px;
    color: $teal-blue;
    text-decoration: none;
    line-height: 50px;
  }
  #nav-links:last-child{
    margin-right: 1.5rem;
  }
  #nav-links:first-child{
    margin-left: 0;
  }

  #nav-logo{
    margin-left: 3rem;
    margin-top: 1px;
    clear: none;
    float:left;
    width:48px;
  }

  #welcomeSection{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // background: linear-gradient(to bottom, $teal-blue, $cadet-blue);
    background-image: url("../images/background/waterfall.jpeg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-origin: padding-box;
  }
  #welcomeSection h1{
    margin-top: 35px;
    font-size: 96px;
  }

  #welcomeSection img{
    margin-top: -90px;
  }
  #aboutSection{
    height: 400px;
    padding-top: 50px;
    background-color: $cadet-blue;
  }
  #aboutSection p{
    padding: 0 4rem;
  }

.about-picture-float{
  float:right;
}
  #about-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid $platinum;
    margin-top: -15px;
    margin-left: 3px;
  }
  .about-picture-float{

  }
  .workImage{
    padding: 5px 5px 5px 5px;
    height: 250px;
    width: 250px;
  }
  #workSection{
    height: auto;
    background-color:$camo-green;
    padding-bottom: 20px;
  }

  #workSection h1{
    margin-top: -40px;
  }
  #contactSection{
    background-color: $cadet-blue;
    margin-top: -40px;
    height: auto;
    padding-bottom: 35px;
  }

  #contact-button{
    border: none;
    background-color: $platinum;
    color:$teal-blue;
    border-radius: 15px;
    font-size: 18px;
    font-family: $open-sans;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #footer{
    margin-top: -0.8rem;
    height: auto;
    background-color: $camo-green;
    font-size: 14px;

  }
  #footer-content{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
    line-height: 75%;
  }
}
//////////////////////////////////////////tablet  land-scape styles\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@media #{$tablet-landscape}{
  body{
    padding-top: 590px;
    width: 100%;
  }

  html, body{
    font-size: 20px;
  }
  section{
    width: 100%;
    position: relative;
    height: 300px;
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $platinum;
  }
  .nav{
    width: 1024px;
    position: relative;
    height:$nav-sizing;
    background-color: $platinum;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    margin-bottom: -$nav-sizing;
    font-family: $amatic-sc;
  }

  .nav-scrolled{
    position: fixed;
    top: 0;

  }
  .bold{
    font-weight:bold;
    font-size: 16px;
  }
  #nav-links{
    text-align: right;
  }

  #nav-links a{
    margin-left: 1.5rem;
    font-size: 24px;
    color: $teal-blue;
    text-decoration: none;
    line-height: 50px;
  }
  #nav-links:last-child{
    margin-right: 1.5rem;
  }
  #nav-links:first-child{
    margin-left: 0;
  }

  #nav-logo{
    margin-left: 3rem;
    margin-top: 1px;
    clear: none;
    float:left;
    width:48px;
  }

  #welcomeSection{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // background: linear-gradient(to bottom, $teal-blue, $cadet-blue);
    background-image: url("../images/background/waterfall.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
  }
  #welcomeSection h1{
    margin-top: 35px;
    font-size: 120px;
  }

  #welcomeSection img{
    margin-top: -110px;
  }
  #aboutSection{
    height: 400px;
    padding-top: 50px;
    background-color: $cadet-blue;
  }
  #aboutSection p{
    padding: 0 3rem;
  }
  #about-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid $platinum;
    margin-top: -15px;
    margin-left: 3px;
  }
  .about-picture-float{
    float:right;
  }
  .workImage{
    padding: 5px 5px 5px 5px;
    height: 250px;
    width: 250px;
  }
  #workSection{
    height: auto;
    background-color:$camo-green;
    padding-bottom: 20px;
  }

  #workSection h1{
    margin-top: -40px;
  }
  #contactSection{
    background-color: $cadet-blue;
    margin-top: -40px;
    height: auto;
    padding-bottom: 35px;
  }

  #contact-button{
    border: none;
    background-color: $platinum;
    color:$teal-blue;
    border-radius: 15px;
    font-size: 18px;
    font-family: $open-sans;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #footer{
    margin-top: -0.8rem;
    height: auto;
    background-color: $camo-green;
    font-size: 14px;

  }
  #footer-content{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
    line-height: 75%;
  }
}
/////////////////////////////////////////// Desktop styles\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@media #{$desktop}{
  body{
    padding-top: 645px;
  }
  html, body{
    margin: 0;
    height: 100%;
    font-weight: 100;
    font-size: 22px;
    font-family: $open-sans;
  }


  section{
    position: relative;
    height: auto;
    margin: 0 -9999rem;
    padding: 3.25rem 9999rem;
    text-align: center;
    color: $platinum;
  }


  .nav{
    position: relative;
    height:$nav-sizing;
    background-color: $platinum;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    // margin-top: -0.5rem;
    margin-bottom: -$nav-sizing;
    font-family: $amatic-sc;
  }

  .nav-scrolled{
    position: fixed;
    top: 0;
    width:100%;
  }
  .bold{
    font-weight:bold;
    font-size: 16px;
  }
  #nav-links{
    text-align: right;
  }

  #nav-links a{
    margin-left: 1.5rem;
    font-size: 28px;
    color: $teal-blue;
    text-decoration: none;
    line-height: 50px;
  }
  #nav-links:last-child{
    margin-right: 1.5rem;
  }
  #nav-links:first-child{
    margin-left: 0;
  }

  #nav-logo{
    margin-left: 3rem;
    margin-top: 1px;

    clear: none;
    float:left;
    width:48px;
  }

  #welcomeSection{
    height:100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, $teal-blue, $cadet-blue);
    background-image: url("../images/background/waterfall.jpeg");
    background-size:contain;
    background-position: -50px -120px;

  }
  #welcomeSection h1{
    margin-top: -3px;
    font-size: 120px;
  }

  #welcomeSection img{
    margin-top: -120px;
  }

  #aboutSection{
    background-color: $cadet-blue;
  }
  #aboutSection p{
    padding: 0 3rem;
  }
  #about-picture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid $platinum;
    margin-top: -10px;
  }
  .about-picture-float{
    float:right;
  }
  .workImage{
    padding: 5px 5px 5px 5px;
    height: 300px;
    width: 300px;
  }
  #workSection{
    background-color:$camo-green;
  }

  #workSection h1{
    margin-top: -40px;
  }
  #contactSection{
    height: auto;
    background-color: $cadet-blue;
  }

  #contact-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  }

  #contact-form{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

  }

  #contact-button{
    border: none;
    background-color: $platinum;
    color:$teal-blue;
    border-radius: 15px;
    font-size: 18px;
    font-family: $open-sans;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #footer{
    height: 75px;
    background-color: $camo-green;
    font-size: 14px;

  }
  #footer-content{
    text-align: left;
    margin-top: -2rem;
    margin-left: 2rem;
    line-height: 75%;
  }

}
