$iron-range-red: #C51230;
$minnesota-wheat: #EEE3C7;
$white: #ffffff;
$forest-green: #004F30;
$harvest-gold: #F1B310;

html, body{
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 22px;
}

section{
  position: relative;
  margin: 0 -9999rem;
  padding: 5.25rem 9999rem;
  text-align: center;
  color: $white;
}

#welcomeSection{
  background-color: $iron-range-red;
}
#aboutSection{
  background-color: $minnesota-wheat;
}
#workSection{
  background-color:$forest-green;
}
#contactSection{
  background-color: $harvest-gold;
}
